#square {
  display: inline-flex;
  background-color: rgb(155, 35, 55);
  width: 20px;
  height: 20px;
}

.camera-body {
  background-color: beige;
}

#camera-header {
  font-size: 2em;
  color: rgb(65, 64, 64);
  padding-top: 25px;
  margin-bottom: 10px;
  margin-left: 5%;
}

#camera-p {
  font-size: 1.2em;
  color: rgb(65, 64, 64);
  margin-left: 8%;
}

.camera-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pixel-art {
  position: fixed;
  background: url("../assets/cameraTesting.png") no-repeat center/contain;
  width: 80%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.photo-container {
  background-color: #b2a487;
  width: 36%;
  height: 49.5%;
  position: absolute;
  top: 41%;
  left: 28%;
  border: solid 5px black;
}

.photo-buttons {
  position: absolute;
  bottom: 28%;
  right: 28%;
  width: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: black;
  gap: 20%;
}
.back-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 5px 20px 10px;
}
#back-btn {
  margin-top: 10px;
  width: 100px;
  height: 30px;
  border: none;
  background-color: black;
  color: #9aa6bd;
}

.next-photo,
.back-photo {
  cursor: pointer;
  background-color: rgb(155, 35, 55);
  height: 1.5em;
  width: 2em;
}
