.home-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;

  border-top: 1px solid #adb6c5;
}

.home-item {
  color: #9aa6bd;
  font-size: 13px;
  width: auto;
  padding: 10px 10px;
}

#home-btn {
  cursor: pointer;
  width: 100px;
  height: 30px;
  border: none;
  color: rgb(58, 58, 58);
  font: white;
}

#home-arrow {
  color: #9aa6bd;
}

#home-btn a {
  text-decoration: none;
  color: inherit;
}
