.footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: space-between;
  background-color: white;
  height: auto;
  border-top: 1px solid #adb6c5;
}

.footer-item {
  color: #9aa6bd;
  font-size: 13px;
  width: auto;
  padding: 10px 10px;
}

#back-to-top {
  cursor: pointer;
}
